<a href="https://colab.research.google.com/github/FreMeli/ASE_1/blob/main/EDO_SEXO_LIMPIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Vamos a cargar y leer 2 archivos:
  1. pob_ini_proyecciones.csv --> Contiene el total de la población por años. Fuente: CONAPO 
  2. INEGI_exporta_12_4_2023_8_47_22.xls --> Contiene el número de homicidios para hombres y mujeres por año y por estado. Fuente:INEGI

In [ ]:
import pandas as pd
import numpy as np

from google.colab import files 
import io
upload = files.upload()

Saving pob_ini_proyecciones.csv to pob_ini_proyecciones.csv
Saving INEGI_exporta_12_4_2023_8_47_22.xls to INEGI_exporta_12_4_2023_8_47_22.xls

In [ ]:
df_P=pd.read_csv(io.BytesIO(upload["pob_ini_proyecciones.csv"]), header=0, encoding="ISO-8859-1")
df_P #Para ver las primeras 10 filas

        RENGLON   AÑO             ENTIDAD  CVE_GEO  EDAD     SEXO  POBLACION
0             1  1950  República Mexicana        0     0  Hombres     564510
1             2  1950  República Mexicana        0     0  Mujeres     552054
2             3  1950  República Mexicana        0     1  Hombres     505655
3             4  1950  República Mexicana        0     1  Mujeres     496559
4             5  1950  República Mexicana        0     2  Hombres     470139
...         ...   ...                 ...      ...   ...      ...        ...
599715   599716  2051           Zacatecas       32   107  Mujeres          4
599716   599717  2051           Zacatecas       32   108  Hombres          1
599717   599718  2051           Zacatecas       32   108  Mujeres          2
599718   599719  2051           Zacatecas       32   109  Hombres          0
599719   599720  2051           Zacatecas       32   109  Mujeres          1

[599720 rows x 7 columns]

In [ ]:
df_P.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599720 entries, 0 to 599719
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   RENGLON    599720 non-null  int64
 1   AÑO        599720 non-null  int64
 2   ENTIDAD    599720 non-null  object
 3   CVE_GEO    599720 non-null  int64
 4   EDAD       599720 non-null  int64
 5   SEXO       599720 non-null  object
 6   POBLACION  599720 non-null  int64
dtypes: int64(5), object(2)
memory usage: 32.0+ MB

In [ ]:
df=pd.read_excel(io.BytesIO(upload["INEGI_exporta_12_4_2023_8_47_22.xls"]), header=0)#df con los datos de homicidio
df.head(10) #Para ver las primeras 10 filas

    AÑO                   EDO    Total  Hombre   Mujer
0  2000                 Total  10737.0  9442.0  1284.0
1  2000        Aguascalientes     17.0    13.0     4.0
2  2000       Baja California    440.0   408.0    32.0
3  2000   Baja California Sur     28.0    23.0     5.0
4  2000              Campeche     66.0    60.0     5.0
5  2000  Coahuila de Zaragoza    120.0   104.0    16.0
6  2000                Colima     57.0    48.0     9.0
7  2000               Chiapas    429.0   377.0    52.0
8  2000             Chihuahua    588.0   530.0    58.0
9  2000      Ciudad de México    924.0   815.0   109.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749 entries, 0 to 748
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AÑO     746 non-null    object
 1   EDO     745 non-null    object
 2   Total   745 non-null    float64
 3   Hombre  745 non-null    float64
 4   Mujer   736 non-null    float64
dtypes: float64(3), object(2)
memory usage: 29.4+ KB

##Vamos a ordenar el df_P para poderlo usar

In [ ]:
#Creamos un df_P1 que tendrá los datos desde el añoo 2000 hasta el 2021
df_P1 = df_P[df_P["AÑO"] >= 2000] 
df_P1 = df_P1[df_P1["AÑO"] <= 2021]
df_P1

        RENGLON   AÑO             ENTIDAD  CVE_GEO  EDAD     SEXO  POBLACION
11000     11001  2000  República Mexicana        0     0  Hombres    1161986
11001     11002  2000  República Mexicana        0     0  Mujeres    1120877
11002     11003  2000  República Mexicana        0     1  Hombres    1162710
11003     11004  2000  República Mexicana        0     1  Mujeres    1119109
11004     11005  2000  República Mexicana        0     2  Hombres    1165350
...         ...   ...                 ...      ...   ...      ...        ...
593115   593116  2021           Zacatecas       32   107  Mujeres          1
593116   593117  2021           Zacatecas       32   108  Hombres          0
593117   593118  2021           Zacatecas       32   108  Mujeres          0
593118   593119  2021           Zacatecas       32   109  Hombres          0
593119   593120  2021           Zacatecas       32   109  Mujeres          0

[159720 rows x 7 columns]

In [ ]:
columns = ["AÑO", "ENTIDAD", "HOMBRES", "MUJERES"] #Serán el nombre de nuestars columnas
mtrx = [] #Creamos una matriz vacía

for ano in df_P1["AÑO"].unique(): #Vamos a filtrar por año usando unique
  values_ano = df_P1[df_P1["AÑO"] == ano] 
  for estado in values_ano["ENTIDAD"].unique(): #Vamos a filtrar por estado usando unique
    tmp = [] #Este temporal nos irá guardando unen una lista los datos para ir formando un arreglo
    tmp.append(ano) #Añadimos al tmp el año, el primer elemento del tmp será el año
    tmp.append(estado)  #Añadimos al tmp el estado, el segundo elemento del tmp será el estado
    values_ano_entidad = values_ano[values_ano["ENTIDAD"] == estado]
    for sexo in values_ano_entidad["SEXO"].unique(): #Vamos a filtrar por estado usando unique
      #print("Analizando a: " + sexo + "...")
      values_ano_entidad_sexo = values_ano_entidad[values_ano_entidad["SEXO"] == sexo]
      poblacion = values_ano_entidad_sexo["POBLACION"].sum()#Sumamos para tener el total de la población de cada sexo
      tmp.append(poblacion)#Añadimos al tmp el sexo, el tercer elemento del tmp será Hombres y el cuarto Mujeres
    mtrx.append(tmp)#A la matriz le añadimos el arreglo. Ahora el ciclo se repetira para el siguiente año

array = np.array(mtrx) #Hacemos un array tipo numpy para después poderlo convertir en df
#df_Pob tendrá los datos del total de la población por sexo en el mismo orden que los datos del INEGI
df_Pob = pd.DataFrame(data = array, columns = columns) 
df_Pob

#NOTA: Al archivo del INEGI se le tendría que eliminar la columna de total para que tengan exactamente la misma forma

      AÑO              ENTIDAD   HOMBRES   MUJERES
0    2000   República Mexicana  48255807  49900635
1    2000       Aguascalientes    464024    488559
2    2000      Baja California   1247252   1211307
3    2000  Baja California Sur    219018    207555
4    2000             Campeche    350339    347621
..    ...                  ...       ...       ...
721  2021           Tamaulipas   1812500   1852763
722  2021             Tlaxcala    676446    711366
723  2021             Veracruz   4156871   4408019
724  2021              Yucatán   1118236   1153344
725  2021            Zacatecas    821492    850713

[726 rows x 4 columns]